# Ignore Firebase private key
backend/config/happnings-d76a6-firebase-adminsdk-rb4zp-cf9db3895f.json


# Ignore node_modules
node_modules/

# Ignore Azure CA certificate
backend/certs/azure-ca.pem

# Ignore environment file
backend/.env
