name: Build, test, and deploy Node.js app to Azure Web App - Happnings-backend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Cache Node.js modules
        uses: actions/cache@v4
        with:
          path: backend/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/backend/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        working-directory: ./backend
        run: npm install

      - name: Run tests
        working-directory: ./backend
        run: npm test

      - name: Build application
        working-directory: ./backend
        run: npm run build --if-present

      - name: List files in backend
        run: |
          cd backend
          ls -R

      - name: Create a zip of the backend directory
        run: |
          zip -r backend.zip backend -x "**/node_modules/**" "**/test/**" "**/*.log" "**/.env"

      - name: Check backend.zip size
        run: du -h backend.zip

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: backend.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-test
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
          path: ./

      - name: List files after downloading build artifacts
        run: |
          pwd
          ls -R

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'Happnings-backend'
          slot-name: 'Production'
          package: backend.zip

      - name: List directories on Azure
        run: ls -R /home/site/

      - name: Unzip deployment package (for debugging)
        run: |
          unzip backend.zip -d /home/site/wwwroot

      - name: List files in wwwroot after unzipping
        run: |
          ls -R /home/site/wwwroot
