name: Build and deploy Node.js app to Azure Web App - Happnings-backend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
      # Check out the code
      - uses: actions/checkout@v4

      # Set up Node.js
      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          cache: 'npm'

      # Install dependencies
      - name: Install dependencies
        run: |
          cd backend
          npm ci

      # Run tests
      - name: Run tests
        run: |
          cd backend
          npm test

      # Build application
      - name: Build application
        run: |
          cd backend
          npm run build --if-present
          cd ..

      # List files
      - name: List files in backend before upload
        run: ls -R backend

      # Create a zip file of the backend directory
      - name: Create a zip of the backend directory
        run: |
          zip -r backend.zip backend

      # Upload build artifacts
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: backend.zip

  deploy:
    runs-on: ubuntu-latest
    needs: test-and-build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    permissions:
      id-token: write
      contents: read

    steps:
      # Download build artifacts
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
          path: ./ 

      # List files to confirm artifacts are downloaded correctly
      - name: List files after downloading build artifacts
        run: |
          pwd
          ls -R

      # Login to Azure
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      # Deploy to Azure Web App
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'Happnings-backend'
          slot-name: 'Production'
          package: backend.zip
